.active-class{
    color: rgb(30,144,255);
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
}

.message-unread{
    background-color: rgb(30,144,255);
}
